:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #ddd;
  --dark: #343a40;
}

.title-graphic {
  width: 400px;
  margin-bottom: 20px;
}

.headerFlex {
  display: flex;
}

.underDevelopment {
  text-align: center;
}

.hr {
  margin: 3rem 0;
}

hr.hr-text {
  position: relative;
  border: none;
  height: 1px;
  background: lightgrey;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-columns .stats {
  column-count: 1 !important;
}

@media (max-width: 767px) {
  .title-graphic {
    width: 100%;
  }

  .headerFlex {
    display: block;
    justify-content: center !important;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2 !important;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3 !important;
  }
}
